<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Me</title>
</head>
<body>
    <div id="Contact">
        <h1>Gareth Warren</h1>
        <h3>412-551-2178</h3>
        <h3>garethlwarren@gmail.com</h3>
    </div>

    <div>
        <div id="Story">
            <p>In 2004, I entered college at the University of Florida with high hopes of becoming a robotics engineer. I had always loved robots and participated with the FIRST Robotics Club in high school all four years. I even took some basic engineering courses, that proved mainly to be "how to use AutoCAD" while attending. Long story short, some bad decisions and bad habits later and I failed college, losing the scholarship I came in with.</p>
            <p>I did not come from a wealthy family, and did not want to continue to burden them with college debt, so without a Plan B, I gave up my college life, expecting, in time, to return when I had sorted myself out.</p>
            <p>During that time, I fell in love and moved to Pittsburgh to be with my love with $400 to my name.</p>
            <p>Soaring college expenses, and the responsibilities of keeping our future afloat made the return to college a pipe dream, as I had barely enough to pay bills, and resources for returning adults seem few and far between.</p>
            <p>It was always "It will get better in the Future", and that future never came.</p>

            <p>I sunk into a deep feeling of stagnation: I still desparately wanted something that seemed unattainable. I was relatively poor, and despite my obsessive love of scientific books, media, and two years of college experience, it seemed that the job market just didn't want someone like me in any intellectual capacity. I had resigned my life to that of a school bus driver, filling a role that was always meant to be temporary; "until college". Thankfully the role continues to provide me with plenty of time to study while still getting a paycheck.</p>
            <p>Fast forward to 2013. When I could take it no longer, I contacted a robotics engineer named Rich Hooper, and asked him what I could do to get where he is without college. He told me to learn software, and I haven't looked back since.</p>
            <p>For a few years, my lessons were chaotic; drifting to anywhere I could find free or extremely low cost content. I started with C++, mainly because that was what the CS students studied in high school, and watched Andrew Ng's first video course on Machine Learning that debuted with the creation of Coursera. This introduction to the world of programming was rocky, and somewhat hard to follow, because at the time, despite being an artist able to create a painting out of nothing, creating a program out of nothing, more complex than "Hello World" seemed like an otherworldly task: Little did I realize that C++ would become so pivotal in my self-education towards robotics.</p>
            <p>I came across a piece of advice that suggested that I should learn what was most common in the area, and built mastery with C# and Javascript, partly due to the influence of a local Meetup group; the .NET Developer Usergroup. I dabbled a bit with SQL, noting that many developers on the back end also use embedded SQL queries.</p>
            <p>Now I am more suited to web and enterprise app development, and have recently returned to C++ in hopes of eventually making it as a robotics engineer.</p>
        </div>
        <div id="Photo">
            <img /><!--This is a placeholder for a photo of me or the art I keep using for my cards-->
        </div>
    </div>
    
    <div>
        <h3>Project Work</h3>
        <ul id="Portfolio Links">
            <li><a href=""></a></li><!--Tickets for Kids-->
            <li><a href=""></a></li><!--RedWolves Website-->
            <li><a href=""></a></li><!--FindMyPet App-->
            <li><a href=""></a></li><!--Quantum Computing-->
            <li><a href=""></a></li><!--MoNet-->
            <li><a href=""></a></li><!--Lavendar Calculator-->
            <li><a href=""></a></li>
        </ul>
    </div>
</body>
</html>