<div class="Content" id="CoyoteContent">
    <div><h2 class="SpeciesName">Coyote/ <i>Canis Latrans</i></h2></div>
    <div class="Photo">
        <img src="Pictures/coyote600w.jpg" title="coyote" />
    </div>
    <div>
        <h3 class="Info Description">Description</h3>

        <p>This highly adaptable canine is the smallest of the three large canines in the United States. Originally from the southwest, the coyote is characterized by its tan-yellow fur that often appears silvered in winter. Both white and black coat variants of coyote exist but are rare. Coyotes are typically around 30-40lbs though individuals have been found to be as small as 25lbs and eastern populations tend to be much larger, upwards of 50lbs, due to early hybridization with wolves as they moved east. Eastern wolves have more variability in coat color and pattern, and tend to be more pack-oriented than desert dwelling populations. However, despite not being hybridized, Yellowstone coyotes also associate in small packs.</p>

        <p> Wolves and coyotes do not get along, normally, and wolves are well known to kill coyotes. It is theorized that the reason why coyotes show more pack like behaviour than they did is because coyotes took the place of wolves, where wolves have been exterminated. The cooperation of the pack is needed to take down larger prey, such as deer, that the smaller canine is not well suited to take solo or in pairs, as is commonly seen hunting behaviour in the southwest while hunting hares and rodents.</p>

        <h3 class="Info RecoveryEfforts">RecoveryEfforts</h3>

        <p>None.</p>

        <p>The coyote is often seen as a nuisance animal. They can be actively hunted at any time of year. Due to their adaptability, coyotes often live under the radar in human populated areas, preferring the cover of night to day. Urban populations tend to be very quiet, though you can often hear their yip-yowls in the evening.</p>

        <p>Coyotes are seen as a threat to wolf recovery because of the fact that coyotes and wolves can interbreed. Thus there is no conservation interest to protect them, and coyote populations are stable.</p>

        <h3 class="Info FascinatingFacts">FascinatingFacts</h3>

        <p>The coyote is well known for its howl. However, unlike that of a wolf, their howl usually consists of a short series of yips and yells, instead of a long dipping note like the grey wolf.</p>

        <p>
            Coyote is often heralded as the trickster spirit who brought humankind fire by some Native American
            tribes.
        </p>
    </div>
</div>
        </div>