<div class="Content" id="RedWolfContent">
    <div><h2 class="SpeciesName">Red Wolves/ <i>Canis Rufus</i></h2></div>
    <div class="Photo">
        <img src="Pictures/redwolf600w.jpg" title="red wolf" />
    </div>
    <div>
        <h3 class="Info Description">Description</h3>
        <p>The red wolf is a medium-sized canine with reddish-brown fur. Almost all red wolves share the same characteristic coat pattern and markings; white spots above eyes, thickly marked face and red-black mottled fur down the back and tail with a black tip at the end. All red wolves have a thick muzzle and small almond-shaped eyes, that are usually orange/yellow in color, similar to those of the gray wolf.</p>

        <p>Red wolves behave very similarly to wolves. They form closely knit packs and rely on each other for survival.</p>

        <p>Red wolves were believed to be the original wolf that roamed the United States, until recent genetic evidence suggested that they originated from early hybridization between coyotes and the gray wolves that originally inhabited the southeastern United States. It is suggested that Florida black wolves, now extinct, were actually red wolves, who lived in the, at the time, swampy state.</p>

        <h3 class="Info RecoveryEfforts">RecoveryEfforts</h3>

        <p>Red wolves were originally considered their own species. Twelve red wolves were taken into captivity to increase the species numbers before it was exterminated. No known wild populations existed in other places at the time they were brought into captivity, and these twelve are credited with being the reason the species exists today. Red wolf populations in captivity soared to somewhere around 250 individuals spread across several AZA zoos and breeding compounds. They were successfully reintroduced to Alligator River National Park in North Carolina. Wild populations reached about 50 individuals, through the cooperation of law enforcement and public relations campaigns to improve the attitudes of people towards the canines. However, this could have been all for naught.</p>

        <h3 class="Info FascinatingFacts">FascinatingFacts</h3>

        <p>Red wolves would not exist in the wild today without human intervention.</p>

        <p>Eurasian wolves often display coats similar in color to red wolves despite being geographically separated.</p>

        <p>Red wolves were originally believed to have diverged from the Dire wolf, the ice age ancestor of modern wolves, earlier than the gray wolf. It was also believed that the red wolf may have been the ancestor species of both gray wolves and coyotes.</p>

        <h3 class="Info Hybrids">Species or Hybrids?</h3>

        <p>Recent genetic evidence suggests that red wolves are actually coyote/wolf hybrids. The USFWS proposed dropping protections for red wolves because the Endangered Species Act does not take into account any hybrid populations, and hybrid populations are often seen as dangerous towards the survival plan of threatened species.</p>

        <p> The question is when did the hybridization occur? It is entirely possible that wolves bred with coyotes as wolf populations were killed off and coyotes moved east to replace them.</p>

        <p>Conservationists argue that the smaller-sized red wolves are more suited for living in the Southeastern United States and point to the fact that their hybridization may have occurred before European settlers entered the United States. Thus, there is a chance that they were already an established species, at the time that wolves were being eliminated from the US. As stated above, some populations of wolves that were described as endemic to the area may have, in fact, been red wolves, not gray wolves, as they were all described as being smaller than wolves found in the plains regions.</p>

        <p>Genetic studies of the Algonquin wolf or Eastern wolf, a disputed subspecies of gray wolf, has revealed that it also is a hybrid and has similar genetic markers to the red wolf, despite being distinctly different in appearance. Some argue that this makes both populations distinct enough to require protection, due to the fact they may become their own species, and may provide interesting observations of genetic changes due to geographic isolation.</p>

        <p>The possibility of hybridization may be used to threaten the recovery efforts of the Mexican gray wolf, as Congress has approved genetic studies to determine the purity of the critically endangered population.</p>

        <p>Red wolf howls sound very similar to gray wolf howls.</p>
    </div>
</div>