body {
    display: flex;
    background-color: khaki;
}
footer {
    display: flex;
    top: 75%;
    margin: 0;
    padding: 0;
    background-color: tan;
}
#Landing{
    display: flex;
    justify-content: center;
    margin: 3vw;
    width: 100vw;
    height: 100vh;
}
#Space{
    display:flex;
    justify-content: space-between;
    flex-flow: column;
}
#Title {
    display: flex;
    width: 100vw;
    margin: 0;
    padding: 0;
    justify-content: center;
    background-color: rgb(244,179,66);
    font-family: sans-serif;
    color: firebrick;
}
.Photo{
    justify-content: center;
}
#WolfContent{
    flex-direction: column;
}
#RedWolfContent {
    flex-direction: column;
}
#CoyoteContent {
    flex-direction: column;
}
#Buttons{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: space-around;
}

.Content{
    display: flex;
    align-items: center;
    flex-flow: wrap column-reverse;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 5em;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

