body {
    display: flex;
    background-color: khaki;
}

#Landing{
    display: flex;
    justify-content: center;
    margin: 3vw;
}
#Space{
    display:flex;
    justify-content: space-between;
    flex-flow: column;
}
#Title {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgb(244,179,66);
    font-family: sans-serif;
    color: firebrick;
}
.Photo{
    justify-content: center;

}
.hide {
    display: none;
}

.show {
    display: flex;
}
#WolfContent{
    display: flex;
    flex-direction: column;
}
#RedWolfContent {
    display: flex;
    flex-direction: column;
}
#CoyoteContent {
    display: flex;
    flex-direction: column;
}
#Buttons{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: space-around;
}
#Foot {
    display: flex;
    align-self: flex-end;
    background-color: darkgrey;
}
.Content{
    display: flex;
    align-items: center;
    flex-flow: wrap column-reverse;
    visibility: hidden;
    background-color: whitesmoke;
    border-radius: 5em;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-bottom: 2vh;
    padding-bottom: 2vh;
}

