body {
    display: flex;
    flex-basis: auto;
    background-color: beige;
}
#Space{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
#Title {
    display: flex;
    width: 100vw;
    justify-content: center;
    background-color: rgb(244,179,66);
    font-family: sans-serif;
    color: wheat;
}
#Buttons{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-content: space-around;
}
#Content{
    display: flex;
    align-self: center;
    flex-direction: column;
}
#Foot{
    display:flex;
    align-self:flex-end;

}
